body{
	font-family: "Bold 800","Poppins", sans-serif;
	margin: 0 auto;
	content: width: device-width, initial-scale: 1;
}
#bb{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	float: left;
}
#bkiri{
	height: 100%;
	width: 40%;
	float: left;
	margin: 0 auto;
	background-image: url("daun.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: auto 100%;
}
#bkanan{
	width: 60%;
	height: 100%;
	float: left;
	margin: 0 auto;
	background-color: #283618;
}
#atas{
	width: 100%;
	height: 20%;
	float: left;
}
.judul{
	margin-left: 20%;
	font-size: 20px;
	color: white;
}
#bawah{
	width: 100%;
	height: 80%;
	float: left;
}
form{
	margin-left: 20%;
	float: left;
}
table{
	border-spacing: 20px;
}
img{
	width: 25;
	height: 25;
}
::placeholder{
	color: #FEFAE0;
	opacity: 1;
}
input{
	border: none;
	padding: 10 20;
	color: #283618;
	background-color: #606C38;
}
input:focus{
	outline: none;
	border: 2px solid white;
}
input[type=submit]{
	text-align: center;
	padding: 10 20;
	color: #283618;
	background-color: #FEFAE0;
}
td{
	text-align: center;
}

